<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.mapper.UserMapper">
	<!--配置一个resultMap 指定返回的类型 -->
	<resultMap id="user" type="com.kevin.entity.User">
        <!--< id column="dp_id" property="dp_id" /> -->
        <result property="id" column="ID" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="type" property="type" />
    </resultMap>

	<!-- 在外部for循环调用一千次 -->
	<insert id="insert" parameterType="com.kevin.entity.User">
		insert into user(name,password,type)
		values(#{name},#{password},#{type})
	</insert>
	<!-- 批量 ，传入一个长度为100的list -->
	<insert id="insertBatch" parameterType="java.util.List">
		insert into user (
		<!-- <include refid="Base_Column_List" /> -->
		name,password,type
		)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.name},#{item.password},#{item.type})
		</foreach>
	</insert>
	<select id="getUser" parameterType="java.lang.String"
		resultMap="user">
		select name,password from user u
		<where>
			<if test="name != null and name != '' ">
				u.name=#{name}
			</if>
			<if test="password != null and password != '' ">
			and u.password=#{password}
			</if>
		</where>
			<!-- limit 2,3 -->
	</select>
	<select id="getUsers" parameterType="java.lang.String"
		resultMap="user">
		select id,name,password from user
		<if test="pageStartRow != null and pageSize != null ">
			limit #{pageStartRow},#{pageSize}
		</if>
	</select>
	<select id="getUsers2"
		resultMap="user">
		<!-- select id,name,password from user -->
		select * from user
	</select>
	<!-- <select id="countAll" resultType="int">
		select count(*) from user
	</select> -->
	<!-- 当使用该Mybatis与Spring整合的时候，该文件必须和相应的Mapper接口文件同名，并在同一路径下 -->
</mapper>